<div class="user-form-container">
  <h3 class="text-center">ログインページ</h3>
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :"Email", class:"text" %>
      <%= f.text_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :"パスワード入力", class:"text" %>
      <%= f.text_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :"パスワード確認", class:"text" %>
      <%= f.text_field :password, class:"form-control" %>
    </div>
    <%= f.submit "ログイン", class:"btn" %>
  <% end %>
  </div>
</div>