<div class="background-image-container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <h3 class="text-center text-white">ログインページ</h3>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :"Email", class:"text-white" %>
            <%= f.text_field :email, class:"form-control", placeholder:"メールアドレスを入力" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード入力", class:"text-white" %>
            <%= f.password_field :password, class:"form-control", placeholder:"パスワード入力" %>
          </div>
          <%= f.submit "ログイン", class:"btn btn-success form-control" %>
        <% end %>
    </div>    
  </div>
</div>