<%= form_for @shop do |f| %>
  <div class="form-group">
    <%= f.label :"お店の名前", class:"text-white" %>
    <%= f.text_field :name, class:"form-control", placeholder:"お店の名前を入力" %>
  </div>
  <div class="form-group">
    <%= f.label :"お店の写真", class:"text-white" %>
    <%= f.file_field :image, :size=>"10x20", class:"text-white" %>
  </div>
  <div class="form-group">
    <%= f.label :"キャッチコピー", class:"text-white" %>
    <%= f.text_field :title, class:"form-control",  placeholder:"キャッチコピーを入力(10文字以内で入力)" %>
  </div>
  <div class="form-group">
    <%= f.label :"料理ジャンル", class:"text-white" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "選択してください", class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :"平均価格", class:"text-white" %>
    <%= f.collection_select :pricerange_id, Pricerange.all, :id, :price, :prompt => "選択してください", class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :"都道府県", class:"text-white" %>
    <%= f.collection_select :address_id, Address.all, :id, :prefectures, :prompt => "選択してください", class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :"お店の説明", class:"text-white" %>
    <%= f.text_area :description, class:"form-control", :size=>"50x7",  placeholder:"お店の説明を入力"%>
  </div>
  <%= f.submit "登録する！", class:"btn btn-success form-control"  %>
<% end %>