<div class="container">
  <div class="row"> 
    <h3 class="text-center">みんなの選んだお店一覧</h3>
      <% @shops.each do |shop| %>
        <div class="row"> 
          <div class="col-md-7 col-md-offset-3 bg-success text-center ">
           <%= shop.name %>
          </div> 
        </div>  
        <div class="row"> 
          <div class="col-md-7 col-md-offset-3">
            <%= image_tag shop.image.url, class:"img-responsive center-block"%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3 bg-primary">
           <%= shop.title %>
          </div>
        </div>  
        <div class="row">
          <div class="col-md-3 col-md-offset-3 bg-danger">
            <%= shop.genre%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-md-offset-3 bg-warning">
            <%= shop.description%>
          </div>
        </div>
      <% end %>    
  </div>      
</div>
      