<div class="container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <h3 class="text-center">おすすめのお店を紹介してね！！</h3>
      <%= form_for @shop do |f| %>
        <div class="form-group">
          <%= f.label :"お店の名前", class:"text-white" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"お店の写真", class:"text-white" %>
          <%= f.file_field :image, :size=>"10x20"%>
        </div>
        <div class="form-group">
          <%= f.label :"キャッチコピー", class:"text-white" %>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <%= f.fields_for :genre do |g| %>
          <div class="form-group">
            <%= g.label :"料理ジャンル", class:"text-white" %>
            <%= g.select :name,[["イタリアン","イタリアン"],["和食","和食"],["フレンチ","フレンチ"],["中華","中華"],["ステーキ","ステーキ"],["カフェ＆スイーツ","カフェ＆スイーツ"],["韓国料理","韓国料理"]], class:"form-control" %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :"お店の説明", class:"text-white" %>
          <%= f.text_area :description, class:"form-control", :size=>"70x10"%>
        </div>
        <%= f.submit "登録する！", class:"btn btn-success" %>
      <% end %>
    </div>  
  </div>
</div>