<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center bg-danger">店舗検索</h1>
    </div> 
    <div class="col-md-12 text-center"> 
      <div class="form-group">
        <%= form_with url:search_shops_path, method: :get, local: true do |f| %>
          <%= f.text_field :name, placeholder:"店舗名を入力" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "料理ジャンルで検索", class:"form-control"%>
          <%= f.collection_select :pricerange_id, Pricerange.all, :id, :price, :prompt => "平均単価で検索", class:"form-control"%>
          <%= f.collection_select :address_id, Address.all, :id, :prefectures, :prompt => "地域で検索", class:"form-control"%>
          <%= f.submit:'検索' %>
        <% end %>
      </div>
    </div>
  </div>
</div>  
<div class="container">
  <% @shops.each do |shop| %>
    <%= link_to shop_path(shop) do %>
      <div class="row row-eq-height"> 
        <div class="col-md-3">
          <%= image_tag shop.image.url, class:"img-responsive center-block"%>
        </div>
        <div class="col-md-9 row-eq-height">
          <div class="bg-success col-md-4 border" >
          <p>店舗名</p>
            <%= shop.name %>
          </div>
          <div class="bg-info col-md-4 border">
          <p>キャッチコピー</p>  
            <%= shop.title %>
          </div>  
          <div class="bg-danger col-md-4 border"> 
          <p>料理ジャンル</p>   
            <%= shop.genre.name%>
          </div>  
          <div class="bg-success col-md-4 border" >
          <p>平均単価</p>
            <%= shop.pricerange.price %>
          </div>
          <div class="bg-info col-md-4 border">
          <p>地域</p>  
            <%= shop.address.prefectures %>
          </div>  
          <div class="bg-danger col-md-4 border"> 
          <p>クチコミ平均点数</p>
            <% if @rate[shop.id] == nil %>   
              ---点
            <% else %>  
              <%= @rate[shop.id].round(2) %>点
            <% end %>  
          </div>  
          <div class="col-md-12 bg-warning border">
          <p>店舗説明</p>
            <%= shop.description%>
          </div>
        </div> 
      </div> 
    <% end %>
  <% end %>           
</div>
<%= paginate @shops %>