<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center bg-danger">
       店舗クチコミ
      </h1>
    </div>
  </div>
  <div class="row post-row row-eq-height ">  
  <% if current_user && current_user.id == @shop.user_id%>
    <div class="col-md-6  text-center  ">
      <%= link_to "店舗を編集する", edit_shop_path(@shop), class:"btn btn-success" %>
    </div>
    <div class="col-md-6  text-center ">
      <%= link_to "店舗を削除する", shop_path(@shop), method: :delete, data: {confirm: "本当に削除しますか？"} , class:"btn btn-warning" %>
    </div>
    <%= render "show_form" %>
    <div class="col-md-12 text-center">
      <%= link_to "口コミを投稿する", new_shop_post_path(@shop), class:"btn btn-default" %>
    </div>
  <% elsif current_user %>
    <%= render "show_form" %>
    <div class="col-md-12 text-center">
      <%= link_to "口コミを投稿する", new_shop_post_path(@shop), class:"btn btn-default d-block" %>
    </div>
  <% else %>
    <%= render "show_form" %>
  <% end %>  
</div>  