<div class="container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <h3 class="text-center">新規登録</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :"名前", class:"text-white" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"Email", class:"text-white" %>
          <%= f.text_field :email, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"性別", class:"text-white" %>
          <%= f.select :sex,[["男性","男性"],["女性","女性"]], class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"年齢", class:"text-white" %>
          <%= f.select :age,[["10代","10代"],["20代","20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60代","60代"],["70代","70代"],["80代","80代"]], class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード入力", class:"text-white" %>
          <%= f.password_field :password, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード確認", class:"text-white" %>
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>
        <%= f.submit "登録", class:"btn btn-success" %>
      <% end %>
      <%= link_to "登録済みの方はこちらからログイン画面へ！", login_path %>
    </div>  
  </div>
</div>