<div class="background-image-container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <h3 class="text-center">レビュー投稿</h3>
        <%= form_for @post do |f| %>
          <div class="form-group">
            <%= f.label :"Email", class:"text" %>
            <%= f.text_field :email, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード入力", class:"text" %>
            <%= f.text_field :password, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード確認", class:"text" %>
            <%= f.text_field :password, class:"form-control" %>
          </div>
          <%= f.submit "ログイン", class:"btn btn-success form-control" %>
        <% end %>
    </div>    
  </div>
</div>