<!DOCTYPE html>
<html>
  <head>
    <title>飲食店最強クチコミキュレーションサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-f864e77e8c0e38c5aced6c94986a3bea59d6c4fa37787e7cd6bb1fa39b794001.ico" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'jquery_raty', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Bon appetit!!", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="nav_target">
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <h4 class="user-name"><%= current_user.name %> 様ようこそ！</h4>
        <li><%= link_to "クチコミランキング", shops_path, class:"btn btn-default" %></li>
        <li><%= link_to "店舗一覧＆検索", search_shops_path, class:"btn btn-default" %></li>
        <li><%= link_to "店舗投稿", new_shop_path, class:"btn btn-default" %></li>
        <li><%= link_to "プロフィール", user_path(current_user), class:"btn btn-default" %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, class:"btn btn-danger" %></li>
      <% else %> 
        <h4 class="user-name">ゲスト 様ようこそ！</h4>
        <li><%= link_to "クチコミランキング", shops_path, class:"btn btn-default" %></li>
        <li><%= link_to "店舗一覧＆検索", search_shops_path, class:"btn btn-default" %></li>
        <li><%= link_to "新規登録", new_user_path, class:"btn btn-success" %></li>
        <li><%= link_to "ログイン", login_path, class:"btn btn-warning" %></li>
      <% end %>  
      </ul>
    </div>
  </div>
</nav>
      <body>
      <div class= "notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>  
      <script>
        $(function(){
          $(".alert").fadeOut(3000);
        })
      </script> 
        <%= yield %>
        
      </body>
      <div class="footer">
        <h2>©️ Food Mania</h2>
      </div> 
    </div>
  </div> 
</html>
